[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
"coverage" = "*"
"coveralls" = "*"
"pytest" = "*"
"Sphinx" = "*"
sphinx_rtd_theme = "*"
"tidypy" = "*"
"twine" = "*"
"wheel" = "*"

[packages]
